body{
    background-color: #2ecc71;
}
a{
    color: black;
    text-decoration: none;
}
h1{
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 5%;
    left: 45%;
    color: white;
    /* text-shadow: 2px 2px #16a085; */
}
#container{
    background-color: #ecf0f1;
    padding: 15px;
    margin-top: 120px;
    margin-left: 400px;  
    width: 50%;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#footer{
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
}
.next {
    border-radius: 50%;
    background-color: #130f40;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: right;
  }
  .previous {
    border-radius: 50%;
    background-color: #130f40;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: right;
  }
  