body {
    background-color: #181717 !important;
}

a.credits {
    color: white !important;
    text-decoration: none !important;
}

a.rm {
    color: white !important;
    text-decoration: underline !important;
}

h1 {
    font-family: 'Lato', sans-serif !important;
    padding-top: 5% !important;
    text-align: center !important;
    color: white !important;
    text-shadow: 2px 2px #424242 !important;
}
h4 {
    font-family: 'Poppins', sans-serif !important;
}
#container {
    background-color: #212121 !important;
    color: white !important;
    padding: 15px !important;
    margin: 0 auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1.5% !important;
    /* margin-left: 400px !important; */
    align-content: center;
    width: 50% !important;
    border-radius: 10px !important;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

#prevnext {
    /* margin-top: 20px !important;
    margin-left: 680px !important; */
    margin: 0 auto !important;
    width: 250px;
}

#footer {
    font-size: 13px !important;
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
    text-align: center !important;
    color: #16a085 !important;
}

.next {
    border-radius: 50% !important;
    background-color: #424242 !important;
    color: white !important;
    text-decoration: none !important;
    display: inline-block !important;
    padding: 8px 16px !important;
    text-align: right !important;
}

.previous {
    border-radius: 50% !important;
    background-color: #424242 !important;
    color: white !important;
    text-decoration: none !important;
    display: inline-block !important;
    padding: 8px 16px !important;
    text-align: right !important;
}

.bttn {
    font-family: 'Poppins', sans-serif !important;
    border: none !important;
    border-radius: 10px !important;
    color: white !important;
    cursor: pointer !important;
    padding: 10px 26px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
}

.bttn {
    border: 1px solid #ff9913 !important;
    background-color: #ffaf46 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404)) !important;
    background-image: -webkit-linear-gradient(top, #ffaf46, #e78404) !important;
    background-image: -moz-linear-gradient(top, #ffaf46, #e78404) !important;
    background-image: -ms-linear-gradient(top, #ffaf46, #e78404) !important;
    background-image: -o-linear-gradient(top, #ffaf46, #e78404) !important;
    background-image: linear-gradient(to bottom, #ffaf46, #e78404) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffaf46, endColorstr=#e78404) !important;
}

.bttn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

button:focus {
    outline: 0 !important;
}

@media screen and (max-width: 480px) {
    h1 {
        margin-left: 0em !important;
    }

    #container {
        margin-left: 80px !important;
    }

    .footer {
        /* text-align: center;
        margin-top: 50px !important; */
        background-color: #181717 !important;
    }

    .credits {
        background-color: #181717 !important;
    }

    #prevnext {
        text-align: center !important;
        position: absolute !important;
        right: 0 !important;
        margin-left: 0% !important;
        margin-right: 90px !important;
    }

}